/* ----------------------------------
 * ACTION MENU
 * ---------------------------------- */
 
 .actions{
   display : none;
 }

/* MAIN DIALOG SETUP */
form[role="dialog"] {
  background-size: auto auto, 100% 100%;
  /* We can't use shortand with background size because is not implemented yet:
  https://bugzilla.mozilla.org/show_bug.cgi?id=570326; */
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 0 0 7rem;
  font-family: "Open Sans", Sans-serif;
  font-size: 0;
  /* Using font-size: 0; we avoid the unwanted visual space (about 3px)
  created by white-spaces and break lines in the code betewen inline-block elements */
  color: #fff;
}

form[role="dialog"]:before {
  content: "";
  display: inline-block;
  vertical-align: top;
  width: 1px;
  height: 100%;
  margin-left: -1px;
}

form[role="dialog"] > section {
  padding: 0 1.5rem 0;
  -moz-box-sizing: padding-box;
  width: 100%;
  height: 100%;
  display: inline-block;
  vertical-align: top;
  white-space: normal;
}

form[role="dialog"] h1 {
  font: 1.6rem/1em 'Open Sans', Sans-serif;
  color: #fff;
  border-bottom: 0.1rem solid #616262;
  background: url(value_selector/images/ui/alpha.png) repeat 0 0;
  margin: 0 -1.5rem;
  padding: 2rem 3rem 0 3rem;
  height: 5rem;
  -moz-box-sizing: border-box;
}
form[role="dialog"] h1:after {
  content: '';
  position: absolute;
  width: 100%;
  background: #222323;
  height: 0.1rem;
  left: 0;
  top: 5rem;
}

/* SPECIFIC COMPONENT CODE */
form[role="dialog"] menu.actions {
  z-index: 100;
  margin: 0;
  padding: 0;
  width: auto;
  border: none;
  background: none;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
}

form[role="dialog"] menu.actions > button,
form[role="dialog"] menu.actions > a[role="button"] {
  width: calc(100% - 5rem);
  height: 4rem;
  -moz-box-sizing: border-box;
  vertical-align: middle;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  font-family: 'Open Sans', Sans-serif;
  font-weight: 600;
  line-height: 4rem;
  outline: none;
  font-size: 1.4rem;
  color: #fff;
  text-shadow: none;
  text-align: left;
  padding: 0 1rem;
  margin: 0 2.5rem 1rem 2.5rem;
  background: #4E4E4E padding-box;
  border-radius: 0.3rem;
  border: solid 1px rgba(0, 0, 0, 0.25);
}

form[role="dialog"] menu.actions > button:last-child {
  text-shadow: 1px 1px 0 rgba(255,255,255,0.3);
  color: #333;
  background-image: url(action_menu/images/ui/default.png);
  background-color: #fafafa;
  border: solid 1px #9f9f9f;
  margin: 2.5rem 1.5rem 1.5rem 1.5rem;
  width: calc(100% - 3rem);
  text-align: center;
  font-size: 1.6rem;
}
form[role="dialog"] menu.actions > button:last-child:before {
  content: '';
  position: absolute;
  width: 100%;
  background: url(action_menu/images/ui/pattern.png) repeat scroll left top #2D2D2D;
  height: 7rem;
  left: 0;
  bottom: 0;
  z-index: -1;
  border-top: 0.1rem solid rgba(255, 255, 255, 0.1);
}

/* Press state */
form[role="dialog"] menu.actions > button:active {
  background-color: #006f86;
  color: #333;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.25);
}

form[role="dialog"] menu.actions > button:last-child:active {
  border: solid 1px #008aaa;
  background: #008aaa;
  color: #333;
}
